#apresentacao{
    text-align: center;
    margin-top: 126px;
}
#titulo{
    font-size:37px;
    font-weight:bold;
    color:#F9F9F9;
}
#frase{
    color:#828282;
    font-size:20px;
    margin-top:30px;
    font-weight: 600;
}
#frase::after{
    content:'|';
    color: #F9F9F9;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
#btnD{
    width: 150px;
    height:45px;
    border-radius:10px;
    margin-top:20px;
    margin-right:10px;
    background-color:#35dbd8ed;
    border:none;
    color:#171717;
    font-weight:800;
    cursor:pointer;
}
#btnE{
    width: 150px;
    height:45px;
    border-radius:10px;
    border:none;
    color:#F9F9F9;
    font-weight:600;
    background-color:#333333;
    cursor:pointer;
}
.btn{
    background-color:#333333;
}
#imagemDev{
    width:300px;
    height: 330px;
    margin-top:25px;
    animation: astro1 2s ease-in-out alternate infinite;
}
#background{
    text-align: center;
}

@media (min-width:800px){
    #intro{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
    #background{
        margin-top: 20px;
    }
    #titulo{
        font-size:55px;
    }
}

@keyframes astro1{
    from{
        transform:translateY(20px);
    }
    to{
        transform:translateY(-20px);
    }
}