
.subTitulos{
    margin-top:60px;
    color:#F9F9F9;
    font-size:27px;
    font-weight:bold;
}
.imgAstro{
    width:150px;
    height:150px;
}
.subEImg{
    display:flex;
    justify-content:space-around;
}
#fSobreMin{
    color:#828282;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size:17px;
    margin-top:20px;
    letter-spacing: 1px;
    font-weight:600;
}
#contatos{
    display:flex;
    justify-content: space-around;
}
.imgContato{
    margin-top:75px;
}
.icons{
    flex-direction:column;
}
.tituloIcon{
    font-size:20px;
    color:#F9F9F9;
    font-weight: bold;
    padding-top:15px;
    text-align:center;
}
.nomeIcon{
    font-size:18px;
    color:#F9F9F9;
    font-weight:500;
    padding-top:15px;
    text-align:center;

}
.contato{
    margin-top: 150px;
}
.backgroundIcon{
    width: 60px;
    height:60px;
    border-radius:50px;
    background-color: #212121;
    align-items: center;
    margin-top: 70px;
    margin-left:40px;
    text-align: center;
}
.subIcon{
    margin-top: 50px;
}
.git{
    margin-top: 70px;
}
.email{
    margin-left: 60px;
}
.instagram{
    margin-left:60px;
}
#linkedin{
    color: #35dbd8ed;
    font-size:35px;
    margin-top:10px;
    background-color:#212121;
}
#git{
    color: #35dbd8ed;
    font-size:35px;
    margin-top:13px;
    background-color:#212121;
    
}
#gmail{
    color: #35dbd8ed;
    font-size:35px;
    margin-top:10px;
    background-color:#212121;
}
#instagram{
    color: #35dbd8ed;
    font-size:35px;
    margin-top:13px;
    background-color:#212121;
}
.link{
    text-decoration:none;
}
.e{
    cursor:pointer;
}


@media(min-width:800px){
    .subTitulos{
        margin-top: 90px;
    }
}
@media(min-width:1200px){
    .icons{
        flex-direction: row;
    }
    #sobre{
        margin-top: 130px;
    }
    .subEImg{
        justify-content: center;
    }
    .imgContato{
        margin-top:25px;
    }
    .subTitulos{
        font-size:35px;
    }
    #fSobreMin{
        width:600px;
        font-size:20px;
    }
}